<div class="div text-center">
    <h1 class="text-center mt-4">My timer</h1>
    <span [class]="myclass">{{num}}</span><br><br>
    <button type="button" class="btn btn-primary ms-4 " (click)="chanespan()">+</button>
    <button type="button" class="btn btn-danger ms-4" (click)="chanespann()">-</button>

</div>


<div class="ul mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3" *ngFor="let a of allStudents">
                <div class="card">
                    <img [src]="a.photo" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{a.name}}</h5>
                        <p class="card-text">{{3000|currency}}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>